:root {
  --cell-size: 36px;
  --cell-border: 2px;
  --cell-gap: 2px;
  --cell-inner-gap: 2px;
  --cell-inner-size: calc(var(--cell-size) - var(--cell-border) * 2 - var(--cell-inner-gap) * 2);
  --cell-empty-color: #e7e7e7;
  --cell-color: #2b2b2b;
}

.game {
  margin: 40px;
  display: flex;
  .game__grid-border{
    border: 3px solid #000;
    padding: 4px;
  }
  .game__grid {
    display: flex;
    flex-direction: column;
    gap: var(--cell-gap);
    position: relative;

    .game-status{
      position: absolute;
      z-index: 1;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      border: 1px solid #000;
      background-color: #fff;
      padding: 36px;
      font-size: 24px;
      border-radius: 4px;
      font-family: "Press Start 2P", system-ui;
      font-weight: 400;
      font-style: normal;
      box-shadow: 2px 2px 4px 2px #000;
    }
    
    .grid__row{
      display: flex;
      gap: var(--cell-gap);
      .grid__cell{
        width: var(--cell-size);
        aspect-ratio: 1;
        position: relative;

        border: var(--cell-border) solid var(--cell-empty-color);

        &.grid__cell--active{
          border-color: var(--cell-color);
          &::before{
            background-color: var(--cell-color);
          }
        }

        &::before{
          content: '';
          position: absolute;
          left: var(--cell-inner-gap);
          top: var(--cell-inner-gap);
          width: var(--cell-inner-size);
          aspect-ratio: 1;
          background-color: var(--cell-empty-color);
        }
      }
    }
  }

  .game__info{
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    .info-wrapper{
      font-family: 'DS-Digital', system-ui;
      font-weight: 400;
      font-style: italic;
      .text-title{
        margin-bottom: 4px;
        font-size: 2rem;
      }
      .text-value{
        font-size: 2.5rem;
      }
    }
  }
}

.game__score > *, .game__lines > *, .game__level > * {
  
}